.Card-north {
  transition: transform 0.2s;
  transform: rotate(0deg);
}

.Card-east {
  transition: transform 0.2s;
  transform: rotate(90deg);
}

.Card-south {
  transition: transform 0.2s;
  transform: rotate(180deg);
}

.Card-west {
  transition: transform 0.2s;
  transform: rotate(270deg);
}

